* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
        linear-gradient(
            135deg,
            #1e3c72,
            #2a5298
        );

    color: white;

}
.container {

    width: 90%;

    max-width: 650px;

    text-align: center;

}
h1 {

    font-size: 42px;

    margin-bottom: 10px;

}
.subtitle {

    color: #dbeafe;

    margin-bottom: 30px;

}

.search-box {

    display: flex;

    gap: 10px;

    margin-bottom: 25px;

}
.search-box input {

    flex: 1;

    padding: 15px;

    border: none;

    border-radius: 10px;

    outline: none;

    font-size: 16px;

}
.search-box button {

    padding: 15px 25px;

    border: none;

    border-radius: 10px;

    background: #00c6ff;

    color: white;

    font-weight: bold;

    cursor: pointer;

}
.search-box button:hover {

    background: #009bd1;

}

#error {

    color: #ffb4b4;

    margin-bottom: 15px;

}
.weather-card {

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(10px);

    border-radius: 20px;

    padding: 30px;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.2);

}


.weather-card h2 {

    font-size: 30px;

    margin-bottom: 10px;

}


.weather-card img {

    width: 100px;

}


.weather-card h3 {

    font-size: 55px;

    margin: 5px;

}


.description {

    text-transform: capitalize;

    margin-bottom: 30px;

    color: #dbeafe;

}
.weather-info {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 15px;

}
.weather-info div {

    background: rgba(255,255,255,0.1);

    padding: 20px;

    border-radius: 15px;

}
.weather-info span {

    font-size: 25px;

}
.weather-info p {

    margin: 8px 0;

    color: #dbeafe;

    font-size: 14px;

}
.weather-info strong {

    font-size: 18px;

}

footer {

    margin-top: 30px;

    color: #cbd5e1;

    font-size: 13px;

}

@media (max-width: 600px) {

    h1 {

        font-size: 32px;

    }
    .search-box {

        flex-direction: column;

    }
    .weather-info {

        grid-template-columns: 1fr;

    }

}
